# {{ name }}

{% if description %}{{ description }}{% else %}A shared rule.{% endif %}

## Overview

Describe the purpose of this rule.

## Guidelines

### Do

- Guideline 1
- Guideline 2

### Don't

- Anti-pattern 1
- Anti-pattern 2

## Examples

### Good

```
Example of following this rule
```

### Bad

```
Example of violating this rule
```
